{% extends 'users/base.html' %} 
{% block body %}
<h2 class="h2 font-weight-bold text-center my-4">👨🏻 Edit User Profile</h2>

<div class="container py-5">
    <form method="post" class="bg-white shadow-sm p-4 rounded-lg w-50 mx-auto" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- First Name Field -->
        <div class="form-group">
            <label for="id_first_name" class="font-weight-bold">First Name</label>
            {{ user_form.first_name }}  <!-- Direct rendering of form field -->
        </div>

        <!-- Last Name Field -->
        <div class="form-group">
            <label for="id_last_name" class="font-weight-bold">Last Name</label>
            {{ user_form.last_name }}
        </div>

        <!-- Email Field -->
        <div class="form-group">
            <label for="id_email" class="font-weight-bold">Email</label>
            {{ user_form.email }}
        </div>

        <!-- Photo Upload Field -->
        <div class="form-group">
            <label for="id_photo" class="font-weight-bold">Photo</label>
            {{ profile_form.photo }}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-success btn-block my-4">Submit</button>
    </form>
</div>
{% endblock %}
