{% extends "users/base.html" %}

{% block body %}

<div class="container my-5">
    <div class="card shadow-sm p-4 w-50 mx-auto">
        <h2 class="h4 mb-4 font-weight-bold text-center">Enter your email to verify</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Submit">
            </div>
        </form>
    </div>
</div>

{% endblock %}
